* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    color: var(--contrast);
    background-color: var(--backgr);
    font-family: 'Playfair', sans-serif;
}

p{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    background: rgba(255, 255, 255, 0);
    height: 50px;
    width: 100%; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; 
}


.login-container {
    display: flex;
    justify-content: center;
}


.login {
    width: 30px;  
    height: auto;   
}



.burgermenu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.burgerbutton {
    background-color: #33333300;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 24px;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block; }

.menucontent {
    display: none;
    background-color: #ffffff00;
    padding: 10px 0;
    margin: 0;
    right: 0;
    top: 40px; 
    width: 200px;
    position: absolute;
}

.menucontent a {
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}


#forside {
    height: 100vh;  
    width: 100%;
    background-image: url("images/forside...png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;  
    }

@media (min-width: 768px) {
    #forside {
        background-image: url("images/forside...png"); 
        background-position: center;
    }
}

.forsidelogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
    z-index: 10;
}

.forsidelogo img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .forsidelogo img {
        content: url('images/logomedtekst.png');
    }
}

.forsideunderbillede {
margin-top: 9%;
height: 100vh;  
width: 100%;
background-image: url("images/forsideunderbillede.png");
background-repeat: no-repeat;
background-size: cover;
background-position: top;
position: relative;  
}


.banner {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 12px;  
    width: 100%;
    background: rgb(0, 0, 0); 
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center; 
    justify-content: center;
    z-index: 999;
}

.banner p {
    font-size: 11px; 
    white-space: nowrap;
    animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}



.search-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 4px;  
    z-index: 1001; 
    display: flex;
    justify-content: center;  
    border: none;
    outline: none;
}

.search-bar form {
    display: flex;
    align-items: center; 
    width: 60%;  
    max-width: 800px;
    border: none;
}

.search-icon {
    height: 24px; 
    width: 24px;  
    margin-right: 5px; 
    border: none;
}

.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 4px; 
    color: rgb(0, 0, 0);
    height: 25px;  
    border:none;
    outline: none;
}

@media (max-width: 480px) { 
    .search-bar form {
        width: 90%; 
    }
}

.h1tekst h1 {
    font-family: "oswald", sans-serif;
font-weight: 400;
font-style: normal;
    margin-top: 150%; 
    text-align: center; 
    font-size: 24px; 
    color: #000000; 
}

@media (min-width: 768px) {
    .h1tekst h1 {
        margin-top: 55%; 
    }
}

#historie-header {
    font-family: "oswald", sans-serif;
    text-align: center;
}

#historie-text {
    text-align: center;
    font-family: "oswald", sans-serif;
}

@media(min-width:480px) {
 
}




#historie-billede{
height: 100vh;  
width: 100%;
background-image: url("images/pida.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: relative;  
}

@media (min-width: 768px) {
#historie-billede {
    background-image: url("images/pida.png"); 
    background-position: center;
    background-size: contain;
}
}


#bbb-billede{
    height:100vh;  
    width: 100%;
    background-image: url("images/for2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; 
    max-width: 82%;
    margin:auto;
    
    
 
    }
    
    @media (min-width: 768px) {
    #bbb-billede {
        background-image: url("images/for2.png"); 
        background-position: center;
        background-size: contain;
    }
    }

.text-content{
    text-align: center;
    font-family: oswald;
    color: #000000;

font-family: Oswald;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
letter-spacing: -0.88px;
text-align: center;
}

@media (min-width: 480px) 
    .text-content {
        margin-top: 5%; 
        margin-bottom: 5%;
       
    }

   
    footer{
        background-color: black;
        
    }
    